#header-wrapper
  #header-background
  #header-left
    div(class="LI-profile-badge" data-version="v1" data-size="large" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="david-whitcome")
      a(class="LI-simple-link" href='https://www.linkedin.com/in/david-whitcome?trk=profile-badge') Dave Whitcome
  #header-right
    
    .ie10-fix
      #header-centered
        h1 {{Name}}
        h2 {{Tag}}