#header([style.height.px]="headerHeight")
  #header-background([style.opacity]="opacity", [style.height.px]="headerHeight")
  .ie10-fix
    #header-centered
      h1 {{Name}}
      h2([style.height.px]="h2Height", [style.opacity]="opacity") {{Tag}}
#header2