#header([style.height.px]="getHeaderHeight()")
  #header-background([style.opacity]="getOpacity(250)")
  .ie10-fix
    #header-centered
      h1 {{Name}}
      h2([style.height.px]="getHeight()", [style.opacity]="getOpacity(250)") {{Tag}}
#header2